body, html {
  margin: 0; /* 0px, 清除默认外边距 */
  padding: 0; /* 0px, 清除默认内边距 */
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: url('../images/background.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 36px; /* 2rem = 32px */
  box-sizing: border-box;
}

header h1 {
  font-size: 48px; /* 3rem = 48px */
  font-weight: 700;
  margin: 20px 0 12px 0; /* 上 12px，下 20px，左右 0px */
}

header p {
  font-size: 19.2px; /* 1.2rem = 19.2px */
  font-weight: 300;
  margin: 6px auto 10px auto; /* 上 6px，下 10px，左右 0px */
}

.intro p {
  font-size: 15px; /* 1rem = 16px */
  max-width: 1200px;
  margin: 3px auto 3px auto; /* 上 10px，下 20px，左右 auto */
  font-style: italic; /* 设置斜体 */
  color: #ffeecc; /* 让文字颜色更亮 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* 增加立体感 */
}

.buttons a {
  display: inline-block;
  margin: 16px 16px; /* 1rem = 16px 上下外边距 */
  padding: 12px 24px; /* 0.75rem = 12px, 1.5rem = 24px */
  border-radius: 22px;
  text-decoration: none;
  background-color: #2f5933;
  color: white;
  font-weight: 600;
  transition: background 0.3s;
}

.buttons a:hover {
  background-color: #3e7a47;
}

.updates {
  margin-top: 20px 0 16px 0; /* 上 40px，下 24px，左右 0 */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px; /* 1rem = 16px */
  border-radius: 12px;
  max-width: 90%;
  font-weight: 300; /* 让更新区块文字不加粗 */
}
.updates h2 {
  margin-top: 5; /* 去掉顶部额外间距 */
  font-weight: 400; /* 正常字体粗细 */
}

footer {
  margin-top: 32px; /* 2rem = 32px */
  font-size: 12.8px; /* 0.8rem = 12.8px */
  color: #ddd;
}
